main {
  background-color: #adb638;
  color: #212121;
}





/* Первичный цвет текста*/

color: #212121


/* Вторичный цвет текста */

color: #757575;

/* Белый текст */

color: #ffffff; 


/* Первичный цвет фона */

color: #E5E5E5;

/* Вторичный цвет фона */

color: #2F303A

/* Акцент */

color: #2196f3;
