body {
  background-color: #e5e5e5;
  color: #757575;

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

ul {
  list-style: none;
}

/* site-nav */

.logo {
  color: #2196f3;
  font-family: Raleway, cursive;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
}
.logo-header {
  color: #000000;
}
.logo-footer {
  color: #ffffff;
}

.site-nav .link {
  color: #212121;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.studio-contacts a {
  color: #757575;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.studio-contacts a:hover,
.studio-contacts a:focus {
  color: #2196f3;
}

/* hero-title */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  cursor: pointer;
}

/*class="section-title"  */
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* soft-skills-title */

.soft-skills .title {
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Первичный цвет текста*/
/* color: #757575;



/* Вторичный цвет текста  color: #212121 */
/* Белый текст  color: #ffffff;  */
/* Первичный цвет фона  color: #E5E5E5; */
/* Вторичный цвет фона  color: #2F303A */
/* Акцент  color: #2196f3; */
